<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Development Engineer at
      <a class="underline-link" href="https://www.amazon.com" target="_blank">Amazon</a> scaling distributed systems for Ring with amazing people. I recently graduated from the
      <a class="underline-link" href="https://www.ics.uci.edu/" target="_blank">University of California, Irvine</a> after succesfully completing internships at
      <a class="underline-link" href="https://flexport.com" target="_blank">Flexport</a>,
      <a class="underline-link" href="https://www.jpl.nasa.gov/" target="_blank">NASA Jet Propulsion Laboratory</a>, and
      <a class="underline-link" href="https://www.amazon.com" target="_blank">Amazon</a>.
    </p>

    <p>
      As a software engineer, I am a firm believer in deep understanding of CS fundamentals, working with integrity and responsibility,
      along with having passion and drive to exceed expectations. I pride myself on getting things done and shipping products with external
      impact. Given any project, I'm excited to rull up my sleeves, cut through the noise and make it a reality.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
