<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a Software Development Engineer at 
      <a class="underline-link" href="https://www.amazon.com" target="_blank">Amazon</a> scaling distributed systems for
      <a class="underline-link" href="https://www.ring.com" target="_blank">Ring</a> with an amazing group of individuals.
      My work involves building low latency systems operating at hundreds and in some cases thousands of TPS. I deal with 
      anything and everything that relates to the configuration of your Ring devices.
    </p>

    <p>
      I am an alumnus of the <a class="underline-link" href="https://www.ics.uci.edu/" target="_blank">University of California, Irvine</a>. 
      Throughout college, I was able to successfully complete internships at 
      <a class="underline-link" href="https://flexport.com" target="_blank">Flexport</a>,
      <a class="underline-link" href="https://www.jpl.nasa.gov/" target="_blank">NASA Jet Propulsion</a> 
      <a class="underline-link" href="https://www.jpl.nasa.gov/" target="_blank">Laboratory</a>,
      <a class="underline-link" href="https://www.amazon.com" target="_blank">Amazon</a>,
      <a class="underline-link" href="https://www.siemens.com" target="_blank">Siemens</a>, and
      <a class="underline-link" href="https://www.spetcial.com" target="_blank">Spetcial</a>.
    </p>

    <p>
      As a software engineer, I have become a firm believer in working with integrity and responsibility as well as having a passion and drive
      to exceed expectations. I pride myself on getting things done and shipping products with external impact. Given any project, I'm excited to
      roll up my sleeves, cut through the noise, and make it reality. I strive to be affable and endeavour to be forever self-improving.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
