<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a Software Development Engineer at
      <a class="underline-link" href="https://www.amazon.com" target="_blank">Amazon</a> scaling distributed systems for 
      <a class="underline-link" href="https://www.ring.com" target="_blank">Ring</a> with an amazing group of people. My work involves anything and everything that relates to the configuration of your Ring devices. 
    </p>

    <p>
      I am an alumnus of the <a class="underline-link" href="https://www.ics.uci.edu/" target="_blank">University of California, Irvine</a>. 
      Throughout college, I was able to successfully complete internships at
      <a class="underline-link" href="https://flexport.com" target="_blank">Flexport</a>,
      <a class="underline-link" href="https://www.jpl.nasa.gov/" target="_blank">NASA Jet Propulsion</a> 
      <a class="underline-link" href="https://www.jpl.nasa.gov/" target="_blank">Laboratory</a>, and
      <a class="underline-link" href="https://www.amazon.com" target="_blank">Amazon</a>.
    </p>

    <p>
      As a software engineer, I've become a firm believer in deep understanding of CS fundamentals, working with integrity and responsibility, and
      having a passion and drive to exceed expectations. I pride myself on getting things done and shipping products with external impact. Given any
      project, I'm excited to roll up my sleeves, cut through the noise, and make it a reality.
    </p>

    {% include employment-status.html %}
  </div>
</section>
